/*Landing Pages Responsiveness Media*/
@media (max-width: 1700px) {
	.video-section .video_bg {
		position: relative;
		padding: 100px 0;
		min-height: auto;
	}
	
	.scroll-down { display:none; }
}
@media (max-width: 1500px) {
	.video-section .video_bg {
		padding: 50px 0;
	}
	.banner_btn-group {
		margin-top: 30px;
	}
}
@media (max-width: 1500px) {
	.video-section .video_bg {
		padding: 30px 0;
	}
	.video-section h1 {
		font-size: 35px;
	}
}
@media (max-width: 990px) {
/*Landing Pages*/
	.video-section h1,
	.section-organise h2.title-main 	{
		font-size: 30px;
	}
	.banner_btn-group .banner_btn.skyBlue_btn {
		margin-bottom: 15px;
	}
	.section-organise h2.title-main {
		font-size: 40px;
	}
	.bullet-point {
		margin-top: 20px;
	}
	.videopart-2 {
		margin-top: 30px;
	}
	.btn.try_btn.btn-lg.blue_btn {
		float: none;
	}
	.banner_btn-group {
		margin: 30px auto 0px;
	}
	.software_content {
		padding: 30px 0;
	}
	.section-pd {
		padding: 30px 0px;
	}
	.software_content img {
		width: 100%;
	}
/*Footer*/
	.footer-main.section-pd {
		padding: 20px 0px;
	}
	.foot_logo ,
	.footer_social_icon,
	.footerAdditional	{
		text-align: center;
	}
	.footerAdditional-item--copyright {
		margin-top: 10px;
		color: #999;
		width: 100%;
	}
	address ul li {
		display: inline-block;
		border-right: 1px solid #333;
		padding-right: 15px;
		padding-left: 15px;
	}
	address {
		background: #111;
		padding: 0 10px;
	}
	.reg-image {
		margin: 0px 0;
	}
	.free-trail-box .title-bg2small {
		font-size: 24px;
		line-height: normal;
	}
	.input-box .number, .input-box .livechat, .input-box .email {
		font-size: 24px;
	}
	.login-bg {
	background-size: cover;
	min-height: 500px;
	}
	.h2, h2 {
		font-size: 30px;
	}
	.box-border {
		margin-bottom: 15px;
		border-radius: 5px;
	}
	.logo_banner img {
		width: 250px;
	}
}

@media (max-width: 768px) {
/*Nav Top*/
	.navbar-header.logo {
		text-align: center;
	}
	.nav.navbar-nav.navbar-right.navbar-top-link {
		text-align: center;
		padding: 0;
	}
	.navbar-top-link li a {
		padding-top: 0;
		padding-bottom: 0;
	}
/*Mid Content*/
	.about-udistro h2,
	.mid-udistro h2,
	.faq-udistro h2,
	.mid-udistro h2	{
		padding-top: 20px;
	}
	.about-para p {
		font-size: 16px;
		line-height: 24px;
	}
	.about-para,
	.FAQ-Tabs,
	.help-center-box {
		padding: 20px 0;
	}
	.free-trail-box{
		margin: 20px 0;
	}
	.logo_banner img {
		width: 200px;
		margin: 10px auto;
	}
	.video-section h1, .section-organise h2.title-main {
		font-size: 20px;
	}
	.section-organise h2.title-main {
		font-size: 30px;
	}

}

@media (max-width: 640px) {

	.demo-gallery > ul > li {																									
		width: 33%;
	}
	.mem-detail {
		position: relative;
	}

	/*Login Company*/
	.login-box {
		width: 100%;
		padding: 100px 10px;
		margin: 0;
	}	

}


@media (max-width: 460px) {

	address ul li {
		border-right: 0px solid #333;
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}
	.demo-gallery > ul > li {																									
		width: 50%;
	}
	.login-box-foot {
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		height: 190px;
		width: auto;
	}
	.h2-login {
		font-size: 30px;
	}

}