/**********Base Css********/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
/*Video banner */
section {
    width: 100%;
    position: relative;
}
.content-section {
    position: relative;
    display: block;
    overflow: hidden;
}
.video-section .video_bg {
    position: relative;
    padding: 159px 0 32px;
    min-height: 945px;/* Incase of overlay problems just increase the min-height*/
}
.video-section .video_bg video {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.video-section h1,
.video-section h3 {
    text-align: center;
    color: #fff;
}
.video-section h1 {
    font-size: 45px;
    margin: 10px auto 0px;
    font-weight: 300;
}
.video-section h3 {
    font-size: 30px;
}
.video-section .buttonBar {
    display: none;
}
.overlay-bg {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.player {
    font-size: 1px;
}
.banner_btn-group {
    margin: 70px auto 0px;
    text-align: center;
}
.banner_btn-group .banner_btn {
    width: 218px;
    min-height: 60px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn.banner_btn.btn-lg.white_btn:hover {
    background: rgba(255,255,255,0.3);
}
.banner_btn-group .banner_btn.green_btn {
    background-color: #57cd67;
    color: #fff;
}
.btn.try_btn.btn-lg.blue_btn {
	background-color: #44bae6;
	color: #fff;
	float: right;
	width: 250px;
	text-transform: capitalize;
}
.btn.try_btn.btn-lg.blue_btn:hover {
    background-color: #3393bd;
}
.banner_btn-group .banner_btn.blue_btn {
	background-color: #44bae6;
	color: #fff;
	width: 250px;
	text-transform: capitalize;
}
.banner_btn-group .banner_btn.blue_btn:hover {
    background-color: #3393bd;
}
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}
.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
@keyframes bounce {
 0%, 100%, 20%, 50%, 80% {
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
 40% {
 -webkit-transform: translateY(-10px);
 -ms-transform: translateY(-10px);
 transform: translateY(-10px);
}
 60% {
 -webkit-transform: translateY(-5px);
 -ms-transform: translateY(-5px);
 transform: translateY(-5px);
}
}
/* Let Organize Your Move */
.section-pd {
    padding: 60px 0px;
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
}
.section-organise {
    position: relative;
    text-align: center;
}
.section-organise h2.title-main {
    font-size: 48px;
    padding-bottom: 35px;
    margin-top: 0px;
}
section.content-section.ready-yourBusiness .section-organise h2.title-main {
    color: #000;
}
.discretion {
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
}
.banner_btn-group .banner_btn.skyBlue_btn {
    max-width: 218px;
    min-height: 60px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background-color: #44bae6;
    color: #fff;
}
.btn-blue {
    width: 106px;
    height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    background-color: #44bbe6;
    color: #fff;
}
.top-btn1 {
    height: 40px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 4px;
    background-color: #44bae6;
    color: #fff;
    width: 190px;
}
.top-btn1:hover {
    background-color: #3393bd;
    color: #fff;
}
.navbar {
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
}
.navbar-top-link li {
    float: none;
    display: inline-block;
    font-size: 16px;
    color: #fff;
}
.navbar-top-link li a {
    color: #fff !important;
}
.navbar-top-link li i {
    vertical-align: top;
    padding-right: 10px;
    width : 40px;
}
.navbar-top-link li i img {
    width : 25px;
}
.navbar-top-link span {
    vertical-align: bottom;
}
.navbar-top-link li i span {
    vertical-align: middle;
}
.navbar-top-link {
    padding-top: 24px;
}
.navbar-inverse {
    background: #fff;
}
.banner_btn-group .btn {
    font-size: 18px;
    margin: 0 15px;
}
.section-testi {
    background: url("../images/slide_bg.jpg")no-repeat left top;
    background-size: cover;
}

/* footer */

.footer-main.section-pd {
    background-color: #000;
    color: #fff;
    width: 100%;
    position: relative;
    display: block;
    padding: 60px 0px 20px;
}
.footer-main .client-achive-step h2.media-heading {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}
ul.list-group.custom-listgroup li.list-group-item {
    background-color: transparent;
    border: none;
    padding: 6px 15px 6px 0px;
    color: #fff;
}
ul.list-group.custom-listgroup li.list-group-item a {
    color: #fff;
    text-decoration: none;
}
ul.list-group.custom-listgroup li.list-group-item a:hover {
    color: #44bae6;
}
ul.list-group.custom-listgroup li.list-group-item a i {
    margin-right: 10px;
}
/*26-12-2017*/
.bullet-point ul {
    list-style: none;
    padding: 0;
}
.bullet-point ul li span {
    background: #44bae6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    position: absolute;
    left: 10px;
}
.bullet-point ul li {
    padding-left: 45px;
    margin-bottom: 30px;
}
.bullet-point ul li p {
    text-align: left;
    font-weight: 400;
}
.video_box,
.video_box iframe {
    height: 400px;
}
.videopart-2 {
    margin-top: 60px;
}
.software_content {
    padding: 50px 0;
}
.footer_social_icon {
    list-style: none;
    padding: 0;
}
.footer_social_icon li {
    display: inline-block;
}
.footer_social_icon li a {
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    border-radius: 50%;
    border: 1px solid #fff;
    line-height: 38px;
    margin-right: 5px;
}
.footer_social_icon li a:hover {
    background: #fff;
    color: #000;
}
address ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
address ul li strong {
    font-size: 18px;
}
address ul li {
    margin-bottom: 10px;
    font-size: 16px;
}
address ul li i {
    margin-right: 10px;
}
.footerAdditional {
    border-top: 1px solid #333;
    padding: 20px 0;
    margin-top: 30px;
}
.footerAdditional ul {
    list-style: none;
    padding: 0;
}
.footerAdditional ul li {
    display: inline-block;
}
.footerAdditional ul li a {
    color: #fff;
    padding: 0 10px;
    font-size: 15px;
}
.footerAdditional-item--copyright {
    float: right;
    font-size: 15px;
}
.udistro_client {
	background: url('../images/works_bg.png');
	background-position-y: 100%;
	background-position-x: 0px;
}
